{
    "library": "H5P.Dialogcards 1.9",
    "params": {
        "mode": "normal",
        "dialogs": {{dialogs | tojson}},
        "behaviour": {
            "enableRetry": true,
            "disableBackwardsNavigation": false,
            "scaleTextNotCard": false,
            "randomCards": false,
            "maxProficiency": 5,
            "quickProgression": false
        },
        "answer": "Umdrehen",
        "next": "Weiter",
        "prev": "Zur\u00fcck",
        "retry": "Wiederholen",
        "correctAnswer": "Ich hatte es richtig!",
        "incorrectAnswer": "Ich hatte es falsch!",
        "round": "Runde @round",
        "cardsLeft": "Verbleibende Karten: @number",
        "nextRound": "Weiter mit Runde @round",
        "startOver": "Von vorne anfangen",
        "showSummary": "Weiter",
        "summary": "Zusammenfassung",
        "summaryCardsRight": "Richtige Karten:",
        "summaryCardsWrong": "Falsche Karten:",
        "summaryCardsNotShown": "Nicht angezeigt Karten:",
        "summaryOverallScore": "Gesamtpunkte",
        "summaryCardsCompleted": "Karten, die du fertig gelernt hast:",
        "summaryCompletedRounds": "Abgeschlossene Runden:",
        "summaryAllDone": "Gut gemacht! Du hattest alle @cards Karten @max -mal hintereinander richtig!",
        "progressText": "Karte @card von @total",
        "cardFrontLabel": "Kartenvorderseite",
        "cardBackLabel": "Kartenr\u00fcckseite",
        "tipButtonLabel": "Tipp anzeigen",
        "audioNotSupported": "Dein Browser unterst\u00fctzt diese Tondatei nicht",
        "confirmStartingOver": {
            "header": "Von vorne anfangen?",
            "body": "Dein gesamter Fortschritt bisher wird gel\u00f6scht. Bist du sicher, dass du von vorne anfangen m\u00f6chtest?",
            "cancelLabel": "Abbrechen",
            "confirmLabel": "Ja, von vorne anfangen"
        },
        "title": "",
        "description": ""
    },
    "subContentId": "{{uuid}}",
    "metadata": {
        "contentType": "Dialog Cards",
        "license": "U",
        "title": "Lernziele"
    }
}